<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <h1>{{ name }}</h1>
    <img src="{{ image_file }}" alt="{{ name }}">
    <p>{{ description }}</p>
    <p>Address: {{ address }}</p>
    <p>Opening Hours: {{ opening_hours }}</p>
    <p>Ticket Price: {{ ticket_price }}</p>
    <p>Website: <a href="{{ website }}">{{ website }}</a></p>
    <p>Contact Phone: {{ contact.phone }}</p>
    <p>Contact Email: {{ contact.email }}"></p>
    <script src="./js/scripts.js"></script>
</body>
</html>
